text {
  fill: white;
}
.screen {
  width: 100%;
  height: 100%;
  /* viewport-fill: black; */
}

.dim {
  width: 100%;
  height: 100%;
  opacity: 0;
  fill: black;
}

.flashlight {
  width: 100%;
  height: 100%;
  opacity: 1;
  fill: white;
}

#debug {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  fill: green;
}

.time {
  width: 60%;
  height: 40%;
  x: 50%;
  y: 20%;
}

#date {
  y: 20%;
  font-size: 32;
  font-family: System-Regular;
  text-anchor: middle;
}

#clock {
  y: 105%;
  font-size: 120;
  font-family: System-Bold;
  text-anchor: middle;
}

.stats {
  width: 60%;
  height: 20%;
  x: 20%;
  y: 70%;
}

.stat-container {
  width: 2;
  height: 64;
}
.stat-container image {
  x: -16;
  y: 4;
  width: 32;
  height: 32;
}

.stat-container text {
  y: 100%;
  font-size: 28;
  font-family: System-Regular;
  text-anchor: middle;
}

#heart-rate-container {
  x: 25%;
  y: 0;
}

#heart-rate-container image {
  fill: red;
}

#walking-container {
  x: 75%;
  y: 0;
}
#walking-container image {
  fill: purple;
}
